// About Us Page Styles ===================================================


// Hide Mobile content on team page.
#node-1141 {
    // Hide image
    .field-name-field-image {
        display: none !important;
    }
    // Hide page copy
    .narrow-body {
        display: none !important;
    }
    .responsive-narrow-body {
        display: none !important;
    }
}

@media screen and (max-width: $medium) {
    .section-about-us {
        // Show mobile content on team page.

        // Hide Mobile content on team page.
        #node-1141 {
            // Hide image
            .field-name-field-image {
                display: block !important;
            }
            // Hide page copy
            .narrow-body {
                display: block !important;
            }
        }

        // Hide the dynamic image grid from mobile
        .attachment {
            display: none;
        }
        
        .arrow-link {
            cursor: pointer;
            display: block;
            font-size: 110%;
            font-weight: normal;
            line-height: 110%;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 10px;
            text-decoration: none;
            text-transform: uppercase;
            vertical-align: middle;
            width: 105%;
            margin: 0px -3px 0 -10px;
            border-top: 1px #ffffff solid;
            color: $white;
            &:before {
                border-left-color: $white;
                display: none;
            }
        }

        #block-views-profiles-block {
            .view-content {
                padding: 0;
                width: 100%;
                .view-group--block {
                    margin-bottom: 0;
                    margin-top: -1px;
                    position: relative;
                    .view-group__title {
                        width: 100%;
                        background: $black;
                        border-top: 1px solid $light-gray;
                        border-bottom: 1px solid $light-gray;
                        color: $white;
                        font-weight: normal;
                        font-size: 18px;
                        padding: 10px;
                        margin-bottom: 0;
                        &.active {

                        }
                        &::before {
                            display: none;
                        }
                    }
                    .subcat-expand,
                    .subcat-collapse {
                        font-size: 1.7em;
                        position: absolute;
                        color: #bcbec0;
                        right: 50px;
                        left: 0;
                        text-align: right;
                        top: 1px;
                        font-family: 'ElegantIcons';
                        z-index: 80;
                    }
                    .view-group__content {
                        margin-left: 0;
                        height: auto;
                        opacity: 1;
                        display: none;
                    }
                    
                    &.expanded {
                        .view-group__title {
                            background: $gray;
                        }
                        .subcat-expand,
                        .subcat-collapse {
                            color: $white;
                        }
                        .view-group__content {
                            display: block; 
                            background: $gray-dark;
                            color: $white; 
                            p {
                                margin: 10px;
                            }
                        }  
                    }
                    
                    .profile__header-links {
                        width: 100%;
                        background: $black;
                        color: $white;
                        padding: 10px 10px 10px 17px;
                        border-bottom: 1px solid $light-gray;
                        position: relative;
                        h4, h5 {
                            display: inline-block;
                            font-size: 13px;
                        }
                        .profile__name {
                            &:after {
                                content: ',';
                            }
                        }
                    }
                    .profile-expand,
                    .profile-collapse {
                        font-size: 1.7em;
                        position: absolute;
                        color: #bcbec0;
                        right: 95px;
                        left: 0;
                        text-align: right;
                        top: 1px;
                        font-family: 'ElegantIcons';
                        z-index: 80;
                    }

                    .profile {
                        height: auto;
                        opacity: 1;
                        .profile__image {
                            display: none;
                        }
                        .profile__bio {
                            display: none;
                            margin-bottom: 0;
                            margin-top: 0;
                        }
                        .profile__header-links {
                            display: block;
                            background: $gray-dark;
                        }
                        &.expanded {
                                border-bottom: solid 1px $gray;
                            .profile__bio{
                                display: block;
                                margin-bottom: 0;
                            }
                            .profile__image {
                                display: block;
                                float:none;
                                max-width: 100%;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }    
}

@media screen and (min-width: 769px) {
    .profile-expand {
        display: none;
    }
}
