// Blog Styles =================================================

// Desktop Defaults

@media screen and (min-width: 769px) {
    .section-blog {
        .view-latest-posts {
            .views-field-created,
            .views-field-field-image {
                display: none;
            }
        }   
    }
}

// Mobile Styles

@media screen and (max-width: $medium) {
    .page-blog {
        // Hide blog articles from homepage
        .view-archive {
            display: none;
        }
    }
    .section-blog {
        max-width: 100%;
        overflow-x: hidden;
        #main-content {
            width: 100%;
        }
        #content {
            width: 100%;
        }

        h1.page-title {
            margin-left: 10px;
        }
        .node-submitted {
            margin-left: 10px;
        }

        .block-title {
            
        }

        #custom-search-blocks-form-1 {
            margin-left: 10px;
            input.form-submit {
                float: left;
                margin-left: 5px;
            }
            .form-actions {
                clear: none;
            }
        }

        #block-views-latest-posts-block,
        #block-views-latest-posts-block-1 {
            border-top: 1px solid $lighter-gray;
            margin-bottom: -1px !important;
            border-bottom: 1px solid $lighter-gray;
            position: relative;
            .block-title {
                display: block !important;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: normal;
                padding: 8px 0;
                margin: 0 10px;
                
            }

            .subcat-expand,
            .subcat-collapse {
                font-size: 1.7em;
                position: absolute;
                color: #bcbec0;
                right: 60px;
                //left: 100%;
                top: 0;
                text-align: right;
                padding: 10px 10px;
                margin-top: -4px;
                font-family: 'ElegantIcons';
                z-index: 80;
            }
            
            // Mobile defaults for latest posts blocks
            .view-latest-posts {
                display: none;
                ul {
                    li {
                        padding-left: 0;
                        background: $gray-darker !important;
                        a {
                            font-size: 13px !important;
                            text-transform: capitalize !important;
                            text-decoration: underline !important;
                            margin-bottom: 0;
                            margin-left: 0;
                            padding-left: 0 !important;
                            width: 90% !important;
                        }
                        span {
                            font-size: 13px;
                            font-family: 'MetaOT', sans-serif;
                            margin-left: 15px;
                            width: 90%;
                        }
                        .views-field-created {
                            padding-top: 0;
                            span {
                                padding-top: 0;
                                margin-top: 0;
                            }
                        }
                        padding-bottom: 15px;
                    }
                }
            }
        }
        
        // Toggleable latest post styles
        .active-menu-item {
            background: $lighter-gray;
            color: $black;
            span {
                color: $lighter-gray;
            }
            .subcat-expand,
            .subcat-collapse {
                color: $black !important;
            }
            .view-latest-posts {
                display: block !important;
            }
        }

        #right {
            width: auto;
            float: none;
        }

        #block-block-14,
        #postscript {
                margin: 10px;
        }

        .field-name-field-tags {
            margin-left: 10px;
        }
    }
}