////////////////////////////
// Responsive Breakpoints //
////////////////////////////

// xsmall = 0 - 400
$xsmall: 400px; 

// small = 400 - 640
$small: 640px;
 
// medium = 640 - 768
$medium: 768px;
 
// large = 768 - 1024
$large: 1024px;

// xlarge = 1024 +
// Set this as a min-width;
$xlarge: 1024px;