// Careers Page Styles


// Medium Screens
// 
@media screen and (max-width: $medium) {
    .signature.mobile-only {
        max-width: 125px;
        height: auto;
    } 
    
    .page-careers {
        max-width: 100%;
        overflow-x: hidden;

        .region-content {
            .block-content  {
                a {
                    margin: 0;
                }
                .view-content {
                    width: auto;
                    float: none;
                }
            }
        }
        .node-career .field, .node-career h3 {
            clear: both;
            color: $white;
        }

        .node-career .field-name-body {
            padding-top: 10px;
        }

        .view-open-positions {
            .view-header {
                margin-left: 10px;
                margin-right: 10px;
            }
            .menu {
                border-top: none !important;
                li {
                    margin-top: -1px;
                    border-bottom: none !important;
                    a.ajax-link {
                        border-top: 1px solid #bcbec0;
                        border-bottom: 1px solid #bcbec0;
                        margin-top: -1px;
                        &.active {
                            background: $light-gray;
                            color: $black !important;
                        }
                        &:last-child {
                            border-bottom: 1px solid #bcbec0;
                        }
                    }
                    .subcat-expand {
                        margin-top: -4px !important;
                        pointer-events: none;
                    }
                    .field-type-text:last-child {
                        padding-bottom: 10px;
                    }
                }
                .menu-subcat {
                    display: block !important;
                    #active-content {
                        margin-top: 54px;
                    }
                    .node-career h3, .node-career .field-label {
                        font-size: 16px;
                        padding-right: 10px;
                        padding-left: 10px;
                    }
                    .node-career .field-item p {
                        padding-right: 10px;
                        padding-left: 10px;
                    }
                    #node-career-full-group-additional-info {
                        //padding-bottom: 15px;
                        .field-item {
                            padding-right: 10px;
                            padding-left: 10px;
                        }
                    }
                    .ctools-use-modal {
                        position: fixed;
                        bottom: 0;
                        right: 0; 
                        width: auto !important;
                        padding-right: 15px !important;
                        float: none !important;
                        padding: 7px 48px 8px 8px !important;
                        z-index: 85;                
                        border-top-left-radius: 5px;
                    }
                }
            }
        }
    }

    // Form Styles 
    
    #webform-client-form-1078 .webform-component-textfield, 
    #webform-client-form-1078 .webform-component-email, 
    #webform-client-form-1078 .webform-component-select {
        float: none;
        margin-left: 15px;
    }
    #edit-submitted-upload-cover-letter-ajax-wrapper,
    #edit-submitted-upload-resume-ajax-wrapper,
    .webform-submit {
        margin-left: 15px;
    }
    .page-modal-forms {
        #main-content {
            background: $white !important;
            label {
                color: $black;
            }
        }
    }


    .page-node-1079 {
        .field-name-body {
            padding-left: 0;
            .field-item {
                p {
                    a.button {
                        position: fixed;
                        bottom: 0;
                        right: 0;
                    }
                    img {
                        position: static;
                        width: auto !important;
                        &.dave {
                            width: 105% !important;
                            height: auto !important;
                            margin-left: -10px !important;
                            margin-right: -10px !important;
                        }
                    }
                }
            }
        }
    }


}