/////////////////////////////
// News & Articles Styles  //
///////////////////////////////

// Desktop Defaults
ul.magazine-articles {
    & > li {
        float: left;
        display: inline-block;
        height: 200px;
        width: 14%;
    }
    li {
        
        .views-field {

        }
        ul {
            li {
                display: none;
                &.first {
                    display: block;
                    a {
                        img {
                            border: solid 1px $light-gray;
                            width: 80%;
                            height: auto;                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (min-width: 769px) {
    .view-news-press-awards {
        .field-content {
            img {
                width: 100px;
                height: auto;
            }
        }
    }
}


// Responsive 
@media screen and (max-width: $medium) {
    ul.magazine-articles {
        li {
            padding-top: 10px;
            display: block;
            width: 90%;
            height: auto;
            margin: auto !important;
            float: none;
            ul {

            }
            div {
                margin: auto;
                .field-content {
                    display: block;
                    margin: auto;
                    text-align: center;
                    a.colorbox {
                        pointer-events: none;
                    }
                }
            }
        }
    }

    .view-id-news_press_awards .view-header {
        margin-left: 15px;
    }

    .view-id-news_press_awards .view-content {
        margin-left: 15px;
        height: auto;
        .views-field-field-image {
            margin: 0;
            width: 97%;
        }
        .field-content {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}