/* Our Process Page Styles ============================================================*/


//////////////////////
// Desktop Defaults //
//////////////////////


///////////////////////
// Responsive Styles //
///////////////////////

@media screen and (max-width: $medium) {
    .section-our-process {
        max-width: 100%;
        // the page width from being scrollable horizontally
        overflow-x: hidden;

        // The Image grid
        .field-name-field-small-image-gallery {
            display: none;
        }

        .small_page_image {
            //display: none;
        }

        // The main process menu block
        .field-name-field-menu-block {
            padding-right: 0;
            .menu-block-wrapper {
                ul.menu {
                    // First level menu items
                    li {
                        // Remove padding below menu items
                        //padding-bottom: 0;
                        background: $black;
                        .prose {
                            p {
                                text-align: left;
                            }
                        }
                        .subcat-expand {
                            pointer-events: none;
                        }
                        a {
                            // Remove spacing below menu items
                            display: block !important;
                            background: transparent !important;
                            color: $light-gray !important;
                            padding: 10px 10px 0 !important;
                            &.orange,
                            &.gray {
                                background: $black;
                            }
                            .box-top {
                                color: $light-gray;
                                border: none;
                            }
                            .box-left,
                            .box-right {
                                display: none;
                            }
                            &.double {
                                .box-left,
                                .box-right {
                                    display: inline-block;
                                    float: none;
                                    width: auto;
                                    background: $black;
                                    padding-bottom: 10px;
                                    color: $light-gray;
                                }
                                .box-left {
                                    &:after {
                                        content: " & ";
                                        margin-left: 3px;
                                    }
                                }
                            }
                        }
                        &.active-trail {
                            background: $black!important;
                            a {
                                background: transparent !important;
                                color: $light-gray !important;
                                .box-left,
                                .box-right {
                                    background: $black;
                                    color: $light-gray;
                                }
                                .box-top {
                                    color: $light-gray;
                                }
                            }
                            .subcat-expand {
                                color: $black !important;
                            }
                            .menu-subcat {
                                display: block !important;
                                margin-bottom: -10px;
                                margin-top: 10px;
                                border: none;
                                #active-content {
                                    margin-bottom: 0;
                                    margin-top: -15px;
                                    img {
                                        margin-bottom: 25px;
                                    }
                                    .orange2,
                                    .orange3 {
                                        color: $blue;
                                    }
                                    .field-name-field-image .even{
                                        margin-bottom: 0 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}