// Responsive Styles for Osbee ===================================================


// Something new

@import "breakpoints";
@import "mobile-navigation";
@import "swiper-slideshows";
@import "about-us";
@import "our-process";
@import "careers";
@import "blog";
@import "fullscreen-defaults";


@media screen and (max-width: $medium) and (orientation: landscape) {
    #block-block-7--2 {
        display: none;
    }
}



@media (max-width: $medium) {
    .front.domain-osbee-com #block-views-homepage-slideshow-block, 
    .front.domain-osbee-com #block-block-9, 
    .front.domain-osbee-com #block-block-10, 
    .front.domain-osbee-com #block-block-7 {
        position: relative;
    }

    html, body {
        // Confine mobile width to the width of the screen.
        max-width: 100%;
        font-family: MetaOT !important;
        font-size: 16px;
        background: $black;
        
    }
    
    a {
        color: $blue;
    }

    span.views-slideshow-controls-text-next,
    span.views-slideshow-controls-text-previous {
        pointer-events: none;
    }

    div#page {
        width: 100%;
        #main-content {
            width: 100%;
            height: auto;
            padding: 0;
            background: $black;
            color: $lighter-gray;
            overflow: visible;
            .field-name-body {
                color: $lighter-gray;
            }
        }
        #block-views-homepage-slideshow-block {
            width: 100%;
            margin-top: -90px;
            y-overflow: hidden;
            img {
            //    height: 100vh;
            //    width: auto;
            }
            //display: none;
        }
        #block-views-vertical-slideshow-block {
            width: 100%;
            margin-top: -90px;
            y-overflow: hidden;
            display: block;
            img {
                height: 100vh;
                width: auto;
            }
        }
        img {
            height: auto;
            width: 100%;
            margin: 0 32px 0 0;
        }
        
        .narrow-body {
            margin-top: 15px;
            width: 100%;
            float: left;
            
        }

        #active-content {
            .narrow-body {
                float: none;
            }
        }
    }

    .limiter {
        width: 100%;
        padding: 0;
    }

    .region-footer #social-links a {
        margin-right: 4px;
        margin-left: 4px;
    }

    // Hide Block 7 Tagline on mobile
    
    .front #left-strip {
        display: none;
    }

    .front.domain-osbee-com #block-block-7 {
        bottom: 75vh;
        p {
            //display: none;
            width: 100%;
            font-weight: bold;
        }
        height: 186px;
        margin-bottom: -186px;
    }
    
    #widget_pager_bottom_homepage_slideshow-block {
        //display: none !important;
    }

    #left-strip {
        width: 100%;
        #branding {
            height: 150px;
            margin: auto;
            .site-name a {
                display: block;
                position: absolute;
                width: 50%;
                text-indent: 100%;
                overflow: hidden;
                background: url(../images/logo.png) no-repeat;
                height: 84px;
                margin-bottom: 28px;
                left: 50%;
                margin-left: -42px;
                top: 15px;
            }
            .site-slogan {
                display: block;
                position: absolute;
                width: 100%;
                left: 50%;
                margin-left: -50%;
                text-align: center;
                top: 103px;
                color: $orange;
            }
        }
        #left {
            display: none;
        }
    }

    

    // Draw Menu Styles
    .not-front {
        background: $black;
        .menu {
            li {
                &.active {
                    background: $light-gray;
                    color: $black;
                    a {
                        color: $black;
                    }
                }
            }
        }
        #page {
            #left-strip {
                display: none;
            }
            #main-content {
                padding: 15px 0 55px 0;
                .prose {
                    p {
                        padding: 5px 10px 0 10px;
                    }
                    .field-type-text {
                        padding: 5px 10px 0 10px;
                    }
                    .field-name-field-heading {
                        padding-bottom: 0;
                    }
                    h1.term-name, .field-name-field-subtitle {
                        line-height: 1;
                        margin: 0 0 40px;
                    }
                }
                .field-name-field-portfolio-type {
                    padding: 5px 10px 0 10px;
                }
                h1.term-name {
                    line-height: 0;
                    margin: 0 0 40px;
                    padding: 5px 10px 0 10px;
                }
            }
        }
        #left-strip {
            visibility: hidden;
            height: 50px;

        }
    }

    #drawer-menu-overlay {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            background: rgba(179,179,179,.5);
            position:fixed;
            width: 100%;
            height: 100vh;
            z-index: 50;
        }
        #drawer-menu {
            position: fixed;
            top: 0;
            min-height: 100%;
            overflow-y: scroll;
            width: 80%;
            z-index: 100;
            bottom: 0;
            background: #000000;
            // Hide menu off-screen
            margin-left: -80%;
            // Menu slides in from left
            -webkit-transition:200ms ease;
            -moz-transition:200ms ease;
            -o-transition:200ms ease;
            transition:200ms ease;
            &.on-screen {
                margin-left: 0;
                box-shadow: 5px 0 22px #000000;
            }

        }
            #drawer-menu-toggle {
                position: fixed;
                right: 0;
                top: 0;
                width: 50px;
                height: 50px;
                z-index: 10000;
                #drawer-menu-toggle-container {
                    display: inline-block;
                    position: absolute;
                    //z-index: 10000;
                    width: 18px;
                    top: 0;
                    right: 0;
                    padding: 0px 13px 0px 8px;
                    color: #ffffff;
                    font-family: 'ElegantIcons';
                    font-size: 24px;
                    background: $blue;
                    .toggle-open {
                        width: 50px;
                        span {
                            font-size: 13px;
                            position: absolute;
                            top: 7px;
                        }
                    }
                }
            }

    // Mobile In-Page Menu styles
    #main-content {
        display: block;
        margin-top: -4px;
        // Get rid of limiter padding so nav items will go across the screen.
        .limiter {
            padding: 0;
        }

        // Hide the block title for this menu
        .block-title {
            display: none;
        }

        .field-name-field-menu-block {
            //float: none;
            width: 100%;
            p {
                font-size: 14px;
                color: #ffffff;
            }
        }



        //Mobile Portfolio Items
        .menu-name-menu-inpage-portfolio-menu {
            margin-top: -15px;
            ul.menu {
                border: none;
                li {
                    border: none;
                    a {
                        text-transform: capitalize;
                        font-size: 34px;
                        font-weight: normal;
                        margin-bottom: 15px;
                    }
                    ul {
                        li {
                            a {
                                text-transform: uppercase;
                                margin-bottom: 0;
                            }
                        }
                    }
                    &:last-child {
                        border: none;
                    }
                }
                .menu-subcat {
                    display: block;
                }
            }
            .subcat-expand,
            .subcat-collapse {
                left: 0 !important;
                display: none;
            }

        }

        .view-in-page-menu-portfolio-items .views-row {
            width: 30%;
            margin-left: 3.25%;
            margin-right: -2%;
            display: inline-block;
            line-height: 2;
        }
        .view-in-page-menu-portfolio-items .views-row {
            position: relative;
            .field-content {
                display: table;
                text-align: center;
                vertical-align: middle;
                width: 100%;
                min-height: 65px;
            }
            .views-field-title {
                /* position: absolute; */
                /* bottom: 34%; */
                vertical-align: center;
                background: rgba(0, 0, 0, 0.65);
                /* width: 100%; */
                text-align: center;
                width: 100%;
                height: 43px;
                overflow: auto;
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display:table;
                vertical-align:middle;
                text-align:center;
                a {
                    font-family: 'MetaOT';
                    padding-left: 0;
                    font-size: 16px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-right: 0;
                    line-height: 2.5vh;
                    display:table-cell;
                    vertical-align:middle;
                    color: #ffffff;
                }
            }
        }



        // First Level of menu
        #block-views-latest-posts-block ul,
        #block-views-latest-posts-block-1 ul,
        ul.menu {
            border-top: 1px solid $light-gray;
            &.active,
            &.active-menu-item {
                background: #a7a9ac;
                a {
                    color: #ffffff;
                }
                .menu-subcat {
                    display: block;
                }
                ul {
                    a {
                        color: $light-gray;
                    }
                }
            }
            li {
                background: #000000;
                position: relative;
                width: 100%;
                border-bottom: 1px solid $light-gray;
                margin-bottom: 0px;
                
                .subcat-expand,
                .subcat-collapse {
                    font-size: 1.7em;
                    position: absolute;
                    color: #bcbec0;
                    right: 45px;
                    //left: 100%;
                    top: 4px;
                    text-align: right;
                    padding: 10px 10px;
                    margin-top: -4px;
                    font-family: 'ElegantIcons';
                    z-index: 80;
                }
                a {
                    font-weight: normal;
                    display: inline-block;
                    text-decoration: none;
                    color: $light-gray;
                    padding: 13px 10px;
                    font-size: $menu-item-font-size;
                    text-transform: uppercase;
                    width: 97%;
                }
                .views-field-field-portfolio-landing-page-ima {
                    a {
                        width: 100%;
                        padding: 0;
                    }
                }
                // Second level menu items
                .menu-subcat {
                    display: none;
                    li:last-child {
                        border: none;
                    }
                }
                &.active {
                    background: $gray-darker;
                    .menu-subcat {
                        display: block;
                    }
                    .narrow-body { 
                        background: $gray-darker;

                    }
                    a {
                        background: $lighter-gray;
                        color: $black;
                    }

                    .subcat-expand,
                    .subcat-collapse {
                        color: $black;
                        
                    }
                }

                ul {
                    //display: none;
                    li {
                        a {
                            padding-left: 35px; 
                            font-size: $menu-child-item-font-size;
                        }
                    }
                    // Third level menu
                    ul {
                        display: none;
                        li {
                            // Fourth level menu
                            ul{
                                display: none;
                            }
                        }
                    }
                }
                &:last-child {
                    border-bottom: 1px solid $light-gray;
                }
            }
            & > ul {
                border: none;
            }
        }
    }

    // Mobile Services Menu
    
    .menu-block-1 {
        .subcat-expand,
        .subcat-collapse {
            pointer-events: none;
        }
        .field-name-field-image {
            img {
                float: none;
            }
            .field-item {
                margin-bottom: -15px;
            }
        }
        .hidden {
            .menu-subcat {
                display: none !important;
            }
        }
    }


    // Mobile Portfolio
    
    #block-block-6 {
        // 
        display: none;
    }


    .section-portfolio-page #page .view-content {
        width: 100%;
    }
    .section-portfolio-page .region-content .block-views {
        float: none;
        position: static;
        width: 100%;
        margin-right: 0;
        height: auto;
        // overflow: visible;
        .views-slideshow-cycle-main-frame {
            position: static !important;
            width: 100% !important;
            height: auto !important;
        }
        .views-slideshow-cycle-main-frame-row {
            position: relative !important;
            display: block !important;
            z-index: 95 !important;
            width: 100%;
            .views-field-field-portfolio-image {
                width: 100% !important;
                height: auto !important;
                .resume {
                    display: none;
                }
                ul {
                    width: 100% !important;
                    height: auto;
                    li {
                        width: 100% !important;
                        height: auto;
                    }
                }
            }
        }
        .views-field-field-caption {
            display: block !important;
            margin-top: 0;
            .field-content {
                padding: 10px;
                @media screen and (min-width: 675px) {
                    margin-top: 45px;
                }
            }
        }
        .views-slideshow-controls-bottom,
        .views-slideshow-controls-top
         {
            //display: none;
            bottom: -175px;
            //top: initial !important;
        }
        .views-slideshow-controls-bottom {
            width: 100%;
            position: absolute;
            bottom: initial;
            background: $black;
            padding-top: 15px;
            margin-left: 0 !important;
            .jcarousel-list-horizontal {
                //width: 98% !important;
                height: 65px;
                overflow: hidden;
                margin-left: 2.5% !important;
                .views_slideshow_jcarousel_pager_item {
                    margin-bottom: 15px;
                    margin-left: 6px !important;
                    height: 50px !important;
                    width: 50px !important;
                    img {
                        margin: 0 !important;
                    }
                    .views-content-field-portfolio-image {
                        width: 50px;
                        height: 50px;
                    }
                    .slide-number {
                        background: $blue !important;
                        color: $white !important;
                        text-shadow: none !important;
                    }
                }
            }

        }
    }
    .section-portfolio .group-links {
        bottom: -35px;
        z-index: 10000;
        padding-bottom: 10px;
    }

    .section-portfolio-page .jcarousel-container, .section-portfolio-page .jcarousel-clip {
        width: 102%;
        margin-left: -11px
    }

    .section-portfolio-page .jcarousel-container {
        .jcarousel-prev,
        .jcarousel-next {
            display:none !important;
        }
    }


    // Mobile Footer Customization
    #footer {
        background: #000000;
    }

    .region-footer {
        padding: 15px 0 0 0;
        width: 100%;
        .block {
            float: none;
            margin-right: 0;
        }
        #block-osbee-custom-social-footer {
            float: none;
            display: none;
        }

        #block-block-13 {
            margin: 0;
            float: none;
            display: block;
            text-align: center;
            #social-links {
                float: none;
            }
        }
    }

    .footer-company-info {
        display: block;
        text-align: center;
        font-size: 16px !important;
        padding: 6px 0 0 0;
    }
    .footer-company-info::after {
        content: "";
        margin-left: 0;
        margin-right: 0;
    }

    .footer-company-info:last-child::after {
        margin-right: 0;
        content: "";
    }

    #back-to-top {
        background: $blue;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 34px;
        height: 40px;
        padding-left: 6px;
        font-size: 28px;
        font-family: 'ElegantIcons';
        color: $lighter-gray;
        z-index: 100000;
        -webkit-transition: all 1s ease-in-out; /* Transition properties (for each vendor) */
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;   
    }

    .group-prev-next {
        display: none;
    }

    span.testimonial-attribution {
        display: block;
        padding-top: 10px;
        font-style: italic;
    }



    ///////////////////
    // LOCATION PAGE //
    ///////////////////

    .page-node-36 {
        .field-name-body {
            .field-item {
                div, p {
                    float: none !important;
                    padding-left: 10px !important;
                }
                ul {
                    //list-style-type: none;
                    margin-left: 0;
                    li {
                        list-style-type: none;
                        margin-left: 10px;
                        padding: 0;
                        margin-top: 5px !important;
                    }
                }
            }
        }
        .call,
        .email,
        .vcard,
        .directions {
            &:before {
                font-family: "FontAwesome";
                margin-right: 5px;
            }
            
        }
        .call:before {
            content: "\f098";
        }
        .email:before {
            content: "\f0e0";
        }
        .vcard:before {
            content: "\f2bc";
        }
        .directions:before {
            background: url(../images/directions.png) no-repeat;
            background-size: 107%;
            width: 16px;
            height: 16px;
            display: block;
            display: inline-block;
            content: '';
        }
    }

    //////////////////////////
    // AFFILIATIONS SECTION //
    //////////////////////////

    .page-node-37,
    .page-node-38,
    .page-node-39 {
        .orangelink {
            font-weight: normal;
            color: $lighter-gray;
        }
        .field-name-body ul {
            border-bottom: 1px #ffffff solid;
            li {
                    cursor: pointer;
                    display: block;
                    font-size: 110%;
                    font-weight: normal;
                    line-height: 110%;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    padding-left: 10px !important;
                    background: none !important;
                    width: 105% !important;
                    margin: 0px -3px 0 -10px;
                    border-top: 1px #ffffff solid;
                    margin: 0 !important;
                a {
                    color: $white;
                    text-decoration: none;
                    text-transform: uppercase;
                    vertical-align: middle;
                }
                &:before {
                    border-left-color: $white;
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 769px){
    .swiper-container-horizontal {
        margin-bottom: 6px;
    }
}

@media (orientation: portrait) and (max-width: $medium) {
    #block-views-homepage-slideshow-block {
        display: none;
    }

    #block-views-vertical-slideshow-block {
        width: 100%;
        margin-top: -86px;
        y-overflow: hidden;
        position: fixed;
        .swiper-container-horizontal {
            height: 100vh !important;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    
    #block-block-7--2 {
        text-align: center;
        position: fixed;
        width: 100%;
        pointer-events: none;
        h1.site-name {
            text-align: center;
            width: 136px;
            margin: auto;
            a {
                height: 136px;
                background-size: 100%;
            }
        }
        bottom: 75vh;
        p {
            //display: none;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
            font-size: 22px;
            color: #ffffff;
            text-transform: capitalize;
            font-family: 'MetaOT';
        }
        //height: 186px;
        margin-bottom: -186px;
        left: 4px;
    }

    ///////////////////
    // Clients Pages //
    ///////////////////

    .page-node-2 {
        a {
            color: $lighter-gray;
        }
    }



    .orange2 {
        color: $white;
    }

    .front.domain-osbee-com .views-field.views-field-field-slide-caption {
        font-size: 150%;
        line-height: 1;
    }

}

@media (orientation: landscape) and (max-width: $medium) {

    #drawer-menu {
        position: absolute;
    }
    
    .front #page {
        max-height: 100vh;
        overflow: hidden;
    }

    // Slideshow in landscape mode
    .views_slideshow_swiper_main {
        .views-field-field-slide-image {
            img {
                margin: 0 !important;
                width: 100% !important;
                height: auto !important;
            }
        }
        .views-field-field-slide-caption {
            bottom: 75px !important;
            font-size: 200% !important;
        }

    }

    // Logo placement on homepage slideshow
    #block-block-7 {
        bottom: 250px !important; 
        h1.site-name {
            width: 80px;
            a {
                height: 84px !important;
                margin-bottom: 0;
            }
        }

        p {
            padding-left: 0 !important;
            font-size: 14px !important;
        }
    }

    #widget_pager_bottom_homepage_slideshow-block {
        bottom: 50px !important;
    }

    #block-views-vertical-slideshow-block {
        display: none;
    }

    .front.domain-osbee-com .views-field.views-field-field-slide-caption {
        font-size: 150%;
        line-height: 1;
    }

    #main-content .view-in-page-menu-portfolio-items .views-row {
        .views-field-title {
            a {
                line-height: 5.5vh;
            }
        }
    }

    
}

@media (max-width: $small) {
    .view-in-page-menu-portfolio-items .views-row {
        width: 30% !important;
        display: inline-block;
        margin-left: 3%;
        margin-right: -1.5%;
        line-height: 1.5;
        .views-field-title {
            height: 65px !important;
        }
        .field-content {
            min-height: 73px !important;
        }
    }
}

@media (max-width: $xsmall) {
    #main-content .view-in-page-menu-portfolio-items .views-row {
        .views-field-title {
            height: 45px !important;
            a {
                font-size: 12px !important;
                line-height: 2.5vh;
            }
        }
    }

    .views_slideshow_swiper_main {
        .views-field-field-slide-image {
            img {
                margin: 0 !important;
                width: 100% !important;
                height: auto !important;
            }
        }
        .views-field-field-slide-caption {
            bottom: 145px !important;
            font-size: 175% !important;
        }

    }
}