/* Styles for All Swiper.js Slideshows ===========================================*/


// Styles for swipe icon overlay
@media screen and (max-width: $medium) {
    .swipe-icon-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $black-transparent;
        z-index: 100000;
        .swipe-icon {
            position: absolute;
            top: 30%;
            left: 50%;
            width: 30% !important;
            margin-left: -14% !important;
            height: auto !important;

            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
            pointer-events: none;
        }
    }

    @keyframes shake {
      20% {
        transform: translate3d(20px, 0, 0);
      }
      
      60% {
        transform: translate3d(-30px, 0, 0);
      }

      90%{
        transform: translate3d(-30px, 0, 0);
      }


    }

    // Hide swiper slideshow arrows on mobile.
     .views_slideshow_controls_text_previous,
    .views_slideshow_controls_text_next {
        top:10% !important;
        display:none;
    }

}