/* Styles for All Swiper.js Slideshows ===========================================*/


// Swipe Icon Styles

// Hide the swipe icon overlay
.swipe-icon-overlay {
    display: none;
}


// Defaults for desktop ===================

#block-views-homepage-slideshow-block {
    width: 100%;
    overflow: hidden;
}


// Styles for swipe icon overlay
@media screen and (max-width: $medium) {
    .swipe-icon-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $black-transparent;
        z-index: 100000;
        .swipe-icon {
            position: absolute;
            top: 30%;
            left: 50%;
            width: 30% !important;
            margin-left: -14% !important;
            height: auto !important;

            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
            pointer-events: none;
        }
    }

    @keyframes shake {
      20% {
        transform: translate3d(20px, 0, 0);
      }
      
      60% {
        transform: translate3d(-30px, 0, 0);
      }

      90%{
        transform: translate3d(-30px, 0, 0);
      }


    }

    // Hide swiper slideshow arrows on mobile.
     .views_slideshow_controls_text_previous,
    .views_slideshow_controls_text_next {
        top:10% !important;
        display:none;
    }


    // Swiper Slideshow styles
    .views_slideshow_swiper_main {
        .views-field-field-portfolio-image {
            .item-list {
                position: relative;
                height: auto;
                ul {
                    width: 100% !important;
                    li {
                        width: 100% !important;
                        height: auto !important;
                    }
                }
            }
        }

    }
}

.views-field-field-slide-caption {
    .field-content {
        text-shadow: 1px 1px 2px #344762;
    }
}


// Portfolio Slideshow Styles 
@media screen and (min-width: 769px) {
    .section-portfolio-page #page .views-field-field-caption {
        position: absolute;
        top: 0;
        visibility: hidden;
    }
    .toggle-carousel {
        display: none;
    }
}

.section-portfolio-page .slide-caption {
    display: block;
}

@media screen and (max-width: $medium) {
    .section-portfolio-page .slide-caption {
        display: none !important;
    }

    // Portfolio Carousel Toggle
    .section-portfolio-page {
        .toggle-carousel {
            font-family: 'ElegantIcons';
            font-size: 8px;
            position: absolute;
            padding: 10px 3px;
            top: -32px;
            background: $blue;
            color: $white;
        }
        .views-slideshow-controls-bottom {
            &.collapsed {
                margin-top: 65px;
                height: 0 !important;
                //overflow: hidden;
                .jcarousel-skin-blank {
                    display: none;
                }
            }
        }
    }
}