// Variables
// 

// Colors

$black: #000000;
$white: #ffffff;
$black-transparent: rgba(0, 0, 0, 0.75);
$gray-darker: #292929;
$gray-dark: #595959;
$gray: #a7a9ac;
$light-gray: #bcbec0;
$lighter-gray: #E6E6E6;
$orange: #ef8200;
$blue: #5d86a0;